:host {
  display: block;
}

.cabecalho {
  background-color: #ccc;
  padding: 8px 16px;
}

h3 {
  margin: 0;
}

.opcoes {
  padding: 8px;
}

.opcao {
  padding: 8px 16px;
}

span {
  font-size: 0.8rem;
}
