/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  background-color: #eee;
}

main {
  max-width: 400px;
  background-color: white;
  margin: 32px auto;
  padding: 16px 0;
}

h2 {
  padding: 16px;
  margin: 0;
  margin-bottom: 8px;
}
